#body{
  width:100%!important;
  min-width:100%!important;
}
.renovationTWDiv{
  position: relative;
  width:auto;
  padding-left:130px;
  left:0!important;
}
.mainDiv,.CzTemplateDiv{
  width:100%;
  position: relative;
  text-align: center;
}
.CzTemplateDiv{
  display: none;
}
.templateCx{
  width:1200px;
  height:100px;
  background: #e4e4e4;
  margin:20px auto 0;
  position: relative;
}
.templateCxUl{
  margin-left:25px;
}
.templateCxUl>li{
  float:left;
  width:350px;
  height:20px;
  font-size: 12px;
  line-height: 25px;
  text-align: left;
  padding-top:18px;
}
.templateCxTit{
  float:left;
  font-weight: bold;
}
.templateInput{
  float:left;
  width:138px;
  background: #fff;
}
.templateNameInput,.templateAddStart,.templateAddEnd{
  height:23px;
  border:1px solid #ccc;
}
.width380{
  width:380px!important;
}
.cxCzDiv{
  position: absolute;
  right:0;
  bottom:10px;
}
.cxCzBtn,.cz1Btn{
    float:right;
    width: 68px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    background: #ededed;
    border: 1px solid #333;
    border-radius: 2px;
    margin: 0 7px;
    cursor: pointer;
}
.templateTable{
  width:1200px;
  margin:20px auto 0;
  font-size: 12px;
  border: 1px solid #ddd;
  border-collapse: collapse;
}
.templateTable th,.templateTable td{
  height: 32px;
  font-size: 12px;
  border: 1px solid #ddd;
  text-align: center;
  color:#333;
}
.templateTable th{
  background: #a1a1a1;
  font-size: 13px;
  color:#fff;
}
.templateTable a{
  color:blue;
}
.templateThIndex{
  width:50px;
}

.templateThStyle{
  width:200px;
}
.templateThAddTime{
  width:240px;
}
.templateThCzperson{
  width:130px;
}
.templateThState{
  width:120px;
}
.templateThCz{
  width:200px;
}
.PageDivW1{
  width:1200px!important;
  font-size: 12px;
  background: #fff;
}

.CzTemplateDivHead{
  position: relative;
  width:100%;
  height:45px;
  border-bottom:2px solid #a1a1a1;
}
.CzTemplateDivHeadTab{
  position: absolute;
  bottom:-2px;
  left:80px;
  width:145px;
  height:30px;
  background: #fff;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
  border:2px solid #a1a1a1;
  border-bottom:2px solid #fff;
  border-radius: 5px 5px 0 0;
}
.TemplateContentDiv{
  width:1200px;
  padding-bottom:40px;
  margin:20px 0 0 80px;
  border:1px solid #ccc;
}
.TemplateContentUl{
  width:100%;
  position: relative;
  font-size: 12px;
}
.TemplateContentUl>li{
  padding-top:20px;
}
.TemplateContentTit{
  width:80px;
  text-align: right;
  line-height: 25px;
}
.templateAddName,.templateAddPs{
  width:220px;
  height:12px;
  padding:5px;
  border:1px solid #ccc;
}
.templateAddPs{
  width:700px;
}
.templateAddForPro{
  margin-top: 4px;
}
.templateAddForPro>li{
  float:left;
  padding-right:25px;
}
.templatePicDiv,.templatePicDiv1{
  display: inline-block;
  width:85px;
  height:85px;
  background: url(images/sltPicBg3.png) no-repeat center center;
  background-color: #f2f2f2;
}
.templatePicDiv1{
  width:56px;
  height:56px;
}
.templatePic{
  width:100%;
  height:100%;
}
.templateCzUl{
  margin-left:20px;
}
.templateCzUl>li{
  height:25px;
  margin-bottom:10px;
}
.iconGZ{
  float:left;
  margin-left:20px;
  text-align: left;
  font-size: 12px;
  color:#999;
}
.AdTemplate,.IconLI{
  display: none;
}
.floorTemplate{
  display: block;
}
.templateBtnDiv{
  float:left;
  margin-top:20px;
  margin-left:150px;
  padding-bottom:50px;
}
.templateBtnDiv>li{
  float:left;
  padding-right:10px;
}
